body {
  font-family: "Lora", serif; }

h1,
h2,
h3,
h4,
h5,
h6,
header,
strong,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
  font-family: "Raleway", sans-serif; }

.navbar {
  background-color: transparent;
  letter-spacing: .05rem; }
  .navbar .navbar-brand {
    letter-spacing: .08rem;
    font-size: 1.5rem; }
  .navbar .navbar-nav {
    font-size: .9rem; }

.shrink {
  background-color: #030303;
  opacity: .9; }

.navbar,
.shrink {
  transition: all 0.3s ease-in-out; }

.jumbotron {
  height: 100vh;
  padding-top: 25vh;
  background-color: #7a7f7f; }

.portfolio .grid {
  column-count: 2;
  column-width: 23rem;
  column-gap: 1rem; }
  .portfolio .grid .grid-item {
    display: inline-block;
    cursor: pointer; }
    .portfolio .grid .grid-item:hover {
      opacity: 0.9;
      transition: opacity 0.3s ease-in-out; }

@media (min-width: 768px) {
  .navbar {
    height: 6rem; }
  .shrink {
    height: 5rem; } }
