body {
  font-family: "Lora", serif; }

h1,
h2,
h3,
h4,
h5,
h6,
header,
strong,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
  font-family: "Raleway", sans-serif; }

.jumbotron {
  background-color: #3b4040; }
