// Colors

$base-dark: #030303;
$base-light: #f7f7f7;

$gray-lighter: #e5e5e5;
$gray-light: #d6d6d6;
$gray: #5f6675;
$gray-dark: #272a30;
$gray-darker: #212529;

// Typography

$typo-primary: "Raleway", sans-serif;
$typo-secondary: "Lora", serif;

// Navbar

$nav-color-primary: transparent;
$nav-color-secondary: $base-dark;

// Portfolio

$grid-column-amount: 3;
$grid-column-size: 22rem;
$grid-gap-size: 1rem;

// Mixins

$animation-delay: 0.3s;
$animation-type: ease-in-out;
