// Colors

$gray-lighter: #ebffff;
$gray-light: #d3e5e5;
$gray: #b0bfbf;
$gray-dark: #757f7f;
$gray-darker: #3b4040;

// Typography

$typo-primary: "Raleway", sans-serif;
$typo-secondary: "Lora", serif;
