.portfolio {
  // Pictures must be at least 700px wide
  .grid {
    column-count: $grid-column-amount;
    column-width: $grid-column-size;
    column-gap: $grid-gap-size;

    .grid-item {
      display: inline-block;
      cursor: pointer;

      .fluidbox__ghost {
        // Stuff in here
      }

      @include animation-fade-in(fadeIn, $animation-delay, $animation-type, forwards)
    }
  }
}
